<%if !!@user%>
<h1> Welcome <%=@user.email%></h1>
<%end%>
<ul id = 'links'>
  <% @links.each do |link| %>
     <li>
       <%= link.title %> - <%= link.url %> -
        <% link.tags.each do |tag| %>
          <%= tag.tag_name %>
        <% end %>
     </li>
   <% end %>
</ul>

<form action="/links/new" method="get">
  <input type="submit" value="Add Link">
</form>
