<form action="/links" method="post">
  Link Title: <input type="text" name="title"><br>
  URL: <input type="text" name="url"><br>
  Tag 1: <input type="text" name="tag1"><br>
  Tag 2: <input type="text" name="tag2"><br>
  <input type="submit" value="Save Link">
</form>
